<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
</head>

<body>

    <div>
            <table border="1" width="100%">
                <thead>
                    <th>Movie</th>
                    <th>Year</th>
                    <th>Director</th>
                    <th>Writer</th>
                    <th>Actors</th>
                    <th>Rating</th>
                </thead>
                {% for movie in movies %}
                    <tr>
                        <td align="center">{{movie.name}}</td>
                        <td align="center">{{movie.year}}</td>
                        <td align="center">{{movie.director}}</td>
                        <td align="center">{{movie.writer}}</td>
                        <td align="center">
                            <ul style="list-style: none;">
                                {%  for actor in movie.actors.all %}
                                    <li>{{actor}}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td align="center">{{movie.get_rated_display}}</td>
                    </tr>
                {% endfor %}
            </table>
    </div>

</body>