<!DOCTYPE html>
<html lang="en">

{% extends 'movies/base.html' %}
{% load staticfiles %}

{% block content %}

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">XMDB</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#movies">Movies</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'movies:signin' %}" >Sign In</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container" style="padding-left: 0%; padding-top: 15%">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <h1 class="text-center login-title">Sign in to XMDB</h1>
                <div class="account-wall">
                    <form action = "{% url 'movies:signin' %}" method="post" class="form-signin">
                        {% csrf_token %}
                        <label>{{ UsernameErrorMessage }} {{ PasswordErrorMessage }}</label>
                    <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
                    <input type="password" name="password" class="form-control" placeholder="Password" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Sign in</button>
                    <label class="checkbox pull-left">
                        <input type="checkbox" value="remember-me">
                        <p style="color: #fed136">Remember me</p>
                    </label>
                    <a href="#" class="pull-right need-help"></a><span class="clearfix"></span>
                    </form>
                </div>
                <a href="/signup" class="text-center new-account">Create an account </a>
            </div>
        </div>
    </div>
</body>

{% endblock content %}